.list-group-item a:link, .list-group-item a:active, .list-group-item a:visited, .list-group-item a:hover {
    text-decoration: none;
    color: #000;
}
.list-group-item a:hover {
    color: burlywood;
}

.list-group-item a.active {
    font-weight: bold;
    text-shadow: 0px 0px 2px #000;
}